$black: #4c4d5e;
$blue: #282b57;
$dark-grey: #92929d;
$dark: #242536;
$grey: #e4e4e4;
$light-grey: #f6f6f6;
$padding-horizontal-md: 200px;
$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal: 250px;
$red-dark: #c62a2a;
$red: #d73b3b;